<% include ../partials/header %>

    <form method="POST" action="/login" >
        <div><input name="username" placeholder="Username" /></div>
        <div><input name="password" placeholder="Password" /></div>
        <div>
            <button type="submit">Login</button>
            <a href="/register" ><button type="button" >Register</button></a>
        </div>
    </form>

    <% if(typeof error != 'undefined' && error.length > 0){ %>
        <% error.forEach(function(item){ %>
            <%= item %>
        <% }) %>
    <% } %>

    <% if(typeof message != 'undefined' && message.length > 0){ %>
        <% message.forEach(function(item){ %>
            <%= message %>
        <% }) %>
    <% } %>

<% include ../partials/footer %>